//-
    Developers:
    * Gal Kalev 318657632
    * Hadar Asher 207767005

extends layout

block content
    h1 About the Team
    ul
        each member in members
            li
                p
                    strong= member.firstname + ' ' + member.lastname
                    br
                    strong ID:
                    span= member.id
                    br
                    strong Email:
                    span= member.email
                    br
