doctype html
html
  head
    title= title
  body
    h1 Home Page
    ul
      li
        a(href='/about') About the Team
      li
        a(href='/addcalories') Add Calorie Consumption
      li
        a(href='/report') Get Calorie Report
      li
        a(href="/users") Get User Information (insert specific user ID)
